<!-- wp:template-part {"slug":"header","theme":"dustless","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"white","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-white-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"dustless/hero-section"} /-->
  <!-- wp:pattern {"slug":"dustless/services"} /-->
  <!-- wp:pattern {"slug":"dustless/banner"} /-->
  <!-- wp:pattern {"slug":"dustless/partners"} /-->
  <!-- wp:pattern {"slug":"dustless/projects"} /-->
  <!-- wp:pattern {"slug":"dustless/testimonial"} /-->
  <!-- wp:pattern {"slug":"dustless/gallery"} /-->
  <!-- wp:pattern {"slug":"dustless/cta"} /-->
  <!-- wp:pattern {"slug":"dustless/blog-snippet"} /-->
  <!-- wp:pattern {"slug":"dustless/team"} /-->
  <!-- wp:pattern {"slug":"dustless/faq"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"dustless","area":"footer"} /-->
