<!-- wp:template-part {"slug":"header","theme":"dustless","area":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"760px"}} -->
<main class="wp-block-group">
  <!-- wp:query {"queryId":26,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
  <div class="wp-block-query">
    <!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:post-featured-image {"isLink":true,"width":"300px","height":"200px","align":"center"} /-->

    <!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","className":"dustless-text-decoration-none"} /-->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group">
      <!-- wp:post-date /-->

      <!-- wp:post-author-name /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-excerpt {"textAlign":"center","moreText":"Learn More","excerptLength":15,"style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"}}}},"textColor":"grey","className":"dustless-text-decoration-none"} /-->

    <!-- wp:separator {"opacity":"css"} -->
    <hr class="wp-block-separator has-css-opacity" />
    <!-- /wp:separator -->
    <!-- /wp:post-template -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"dustless","area":"footer"} /-->
