<!-- wp:template-part {"slug":"header","theme":"dustless","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"border":{"top":{"color":"var:preset|color|terniary","width":"2px"},"right":{},"bottom":{},"left":{}}},"layout":{"type":"constrained","wideSize":"1180px"}} -->
<main
  class="wp-block-group"
  style="
    border-top-color: var(--wp--preset--color--terniary);
    border-top-width: 2px;
    padding-top: var(--wp--preset--spacing--60);
    padding-bottom: var(--wp--preset--spacing--60);
  "
>
  <!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"fontFamily":"public-sans"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"dustless","area":"footer"} /-->