<!-- wp:template-part {"slug":"header","theme":"dustless","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"border":{"top":{"color":"var:preset|color|terniary","width":"2px"},"right":[],"bottom":[],"left":[]}},"layout":{"type":"constrained","contentSize":"1180px"}} -->
<main
  class="wp-block-group"
  style="
    border-top-color: var(--wp--preset--color--terniary);
    border-top-width: 2px;
    padding-top: var(--wp--preset--spacing--60);
    padding-bottom: var(--wp--preset--spacing--60);
  "
>
  <!-- wp:search {"label":"","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"fontSize":"16px"}},"backgroundColor":"primary","textColor":"white","fontFamily":"public-sans"} /-->

  <!-- wp:query-title {"type":"search","style":{"typography":{"fontSize":"40px"}},"fontFamily":"sarabun"} /-->

  <!-- wp:query {"queryId":44,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true}} -->
  <div class="wp-block-query">
    <!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
    <div
      class="wp-block-group"
      style="
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
      "
    >
      <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1","height":"","scale":"contain"} /-->

      <!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","className":"dustless-text-decoration-none","fontFamily":"sarabun"} /-->

      <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"fontFamily":"public-sans"} -->
      <div class="wp-block-group has-public-sans-font-family">
        <!-- wp:post-date /-->

        <!-- wp:post-author-name /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:post-excerpt {"moreText":"Learn More","excerptLength":15,"style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"}}}},"textColor":"grey","fontFamily":"sarabun"} /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:query-pagination {"paginationArrow":"chevron","showLabel":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","layout":{"type":"flex","justifyContent":"center"}} -->
      <!-- wp:query-pagination-previous {"fontSize":"large"} /-->

      <!-- wp:query-pagination-next {"fontSize":"large","fontFamily":"sarabun"} /-->
      <!-- /wp:query-pagination -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group --><!-- wp:template-part {"slug":"footer","theme":"dustless","area":"footer"} /-->
